.search {
    background: red;
    margin-bottom: 30px;
}

.fa-instagram {
    width: 5%;
    border-right: 1px solid black;
    margin-right: 20px;
}

.navbar-nav{
    width: 10%;
    display: flex;
    justify-content: space-between;
}

.form-control{
    width: 10%;
    margin: 0 33%;
}